.container{
 width: 700px;
 height:450px;
 margin:70px auto;
 border:2px solid rgb(181, 233, 125);
}
button{
    margin: 15px;
}
#todolist{
    color:rgb(181, 233, 125);
    text-align: center;
}
#add_project{
    margin-right: 15dp;
    padding: 15dp;
}

