#samplediv{
    height:300px;
    width: 300px;
    background-color: indianred;
}
@media(max-width:1500px) and (min-width:1000px){
    #samplediv{
        background-color: darkcyan;
        width:500px;
    }
}
@media(max-width:1000px) and (min-width:750px){
    #samplediv{
        background-color: peru;
        height:500px;
    }
}
@media(max-width:750px) and (min-width:500px){
    #samplediv{
        background-color: mediumvioletred;
        
    }
}
@media(max-width:500px) and (min-width:250px){
    #samplediv{
        background-color: green;
    }
}
@media (min-width:720px) and (orientation: landscape ){

}
/* @media(not (color)){
    .#samplediv{
background-color: gray;
    }

} */